.cover {
  margin-bottom: 64px;

  @include for-desktop-big {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.cover__link {
  display: block;
  color: $color-main-white;
  background: linear-gradient($color-gray-cover, $color-gray-cover),
    url(../images/dist/cover__background--mobile.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16/10;

  @include for-tablet {
    background: linear-gradient($color-gray-cover, $color-gray-cover),
      url(../images/dist/cover__background--tablet.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include for-desktop {
    background: linear-gradient($color-gray-cover, $color-gray-cover),
      url(../images/dist/cover__background--desktop.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include for-desktop-big {
    background: linear-gradient($color-gray-cover, $color-gray-cover),
      url(../images/dist/cover__background--desktop-big.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover {
    @include for-desktop {
      background: linear-gradient(
          $color-gray-cover-hover,
          $color-gray-cover-hover
        ),
        url(../images/dist/cover__background--desktop.jpg);
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include for-desktop-big {
      background: linear-gradient(
          $color-gray-cover-hover,
          $color-gray-cover-hover
        ),
        url(../images/dist/cover__background--desktop-big.jpg);
      background-position: 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  @include container;

  @include for-tablet {
    gap: 32px;
  }
}

.cover__title {
  margin: 0;
  max-width: 75%;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.09;
  text-align: center;

  @include for-tablet {
    max-width: 80%;
    font-size: 72px;
    line-height: 1.06;
  }

  @include for-desktop {
    max-width: 60%;
  }
}

.cover__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  @include for-tablet {
    max-width: 60%;
    font-size: 18px;
    line-height: 1.22;
  }

  @include for-desktop {
    max-width: 50%;
  }

  @include for-desktop-big {
    max-width: 40%;
  }
}
