.header {
  margin-bottom: 46px;
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-tablet {
    padding-top: 28px;
  }

  @include for-desktop-big {
    margin-bottom: 55px;
  }
}

.header__container {
  @include container;
  display: flex;
  justify-content: space-between;
}

.logo__icon {
  width: 142px;
  height: 42px;

  @include for-tablet {
    width: 176px;
    height: 52px;
  }
}

.header__lang-list {
  margin: 0;
  padding: 0;
  
}

.lang-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lang-list__item {
  display: flex;
  align-items: center; 
  padding-top: 3px; 

  @include for-tablet {
    padding-top: 8px;
  }
}

.lang-list__item + .lang-list__item {
     margin-left: 18px;
  }

.lang-list__link {
  font-size: 18px;
  line-height: 1.11;
  color: $color-main-white;

  @include for-tablet {
    font-size: 24px;
    line-height: 1.17;
  }

  &:hover {
    opacity: 0.8;
  }
}

.lang-list__item--active .lang-list__link {
    border-bottom: 2px solid $color-main-white;
}