.photo-gallery {
    @include container;
    margin-bottom: 64px;

    @include for-tablet {
        margin-bottom: 91px;
    }
};

.photo-gallery__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @include for-tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    @include for-desktop {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }

    @include for-desktop-big {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

.photo-gallery__item img {
    display: block;
    width: 100%;
    height: auto;
}