.places {
  color: $color-main-white;
}

.places__container {
  @include for-tablet {
    @include container;
  }

  @include for-desktop-big {
    padding-left: 148px;
    padding-right: 148px;
  }
}

.places__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 49px;

  @include for-tablet {
    gap: 73px;
  }

  @include for-desktop {
    gap: 83px;
  }
}

.place {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @include for-tablet {
    grid-template-columns: 1fr 1fr;
    row-gap: 46px;
    column-gap: 17px;
  }
}

.place__title {
  margin: 0;
  padding-left: 16px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.09;

  @include for-tablet {
    padding-left: 0;
    padding-right: 20px;
    font-size: 42px;
    line-height: 1.1;
  }

  @include for-desktop {
    font-size: 72px;
    line-height: 1.06;
  }
}

.place__website {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;

  @include for-tablet {
    padding-left: 0;
    align-self: flex-end;
  }
}

.place__url-heading {
  text-transform: uppercase;
  color: $color-light-gray;
  font-size: 12px;
  line-height: 1;
}

.place__link {
  color: $color-main-white;
  font-size: 18px;
  line-height: 1.22;
  border-bottom: 1px solid $color-main-white;
}

.place__image {
    display: block;
    width: 100%;
    height: auto;

    @include for-tablet {
      padding-right: 12px;
    }

    @include for-desktop {
      padding-right: 16px;
    }

    @include for-desktop-big {
      padding-right: 24px;
    }
}

.place__paragraphs {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
  line-height: 1.63;

  @include for-tablet {
    padding-left: 0;
    padding-right: 0;
  }

  @include for-desktop {
    font-size: 18px;
  }
}

.place__paragraph {
    margin: 0;
    padding: 0;
}
