doctype html
html.page(lang="ru")
    include ./global/head.pug
    body.page-body
        include ./common.blocks/header.pug 
        main.content
            include ./common.blocks/lead.pug
            include ./common.blocks/intro.pug
            include ./common.blocks/photo-gallery.pug 
            include ./common.blocks/places.pug
            include ./common.blocks/cover.pug 
        include ./common.blocks/footer.pug 