section.cover 
    a.cover__link
        .cover__content 
            p.cover__title До Байкала «на собаках»
            p.cover__subtitle По мотивам учебной темы о Транссибе — путешествие от столицы до Байкала на электричках.