footer.footer.footer__container
    nav.footer__nav
        ul.footer__links.footer-links
            li.footer-links__item
                a.footer__link(href="") Карты
            li.footer-links__item
                a.footer__link(href="") Погода
            li.footer-links__item
                a.footer__link(href="") Расписание
            li.footer-links__item
                a.footer__link(href="") Календарь
            li.footer-links__item
                a.footer__link(href="") Путешествия    
    p.footer__copyright © 2023. Токмин Михаил

