footer.footer
    nav.footer__nav
        ul.footer__links
            li.footer__link
                a(href="") Карты
            li.footer__link
                a(href="") Погода
            li.footer__link
                a(href="") Расписание
            li.footer__link
                a(href="") Календарь
            li.footer__link
                a(href="") Путешествия    
    p.footer__copyright © 2023. Токмин Михаил

