header.header
    .header__container
        a.header__logo.logo(href="")
            img.logo__icon(src="images/dist/__logo.svg", alt="Логотип", width="142", height="42")
        ul.header__lang-list.lang-list
            li.lang-list__item.lang-list__item--active  
                a.lang-list__link(href="") Ru
            li.lang-list__item 
                a.lang-list__link(href="") En