section.intro.content__container 
    h2.intro__title Чего мы&nbsp;там не&nbsp;видели?
    p.intro__text. 
        По&nbsp;опросам ВЦИОМ, 95% россиян мечтают куда-нибудь поехать, 
        но&nbsp;только&nbsp;36% планируют провести отпуск в&nbsp;родной стране. Мол, чего мы&nbsp;тут, дома, не&nbsp;видели? На&nbsp;самом деле, Россия&nbsp;&mdash; это целая вселенная с&nbsp;ласковым морем юга, густыми лесами Саян и&nbsp;суровыми льдами плато Путорана. А&nbsp;ещё увидеть все эти красоты можно без&nbsp;миллионов на&nbsp;счету, загранпаспорта и&nbsp;многочасовых перелетов. Как, например, Вера Башмакова&nbsp;&mdash; смелая молодая мама, которая взяла в&nbsp;охапку троих детей, усадила их&nbsp;в&nbsp;свою &laquo;Ладу&raquo; 
        и&nbsp;проехала 20&nbsp;тысяч километров
        по&nbsp;родной стране. Мы&nbsp;выбрали 
        и&nbsp;описали некоторые интересные места, достойные вашего отпуска.
    ul.intro__list.intro-list
        li.intro-list__item Часовых поясов 
            span.intro-list__number 11
        li.intro-list__item Объектов природного наследия ЮНЕСКО 
            span.intro-list__number 12
        li.intro-list__item Объектов культурного наследия ЮНЕСКО 
            span.intro-list__number 16
        li.intro-list__item Природных заповедников 
            span.intro-list__number 105
        li.intro-list__item Аэропортов 
            span.intro-list__number 241