section.intro.content__container 
    h2.intro__title Чего мы&nbsp;там не&nbsp;видели?
    p.intro__text. 
       По опросам ВЦИОМ, 95% россиян мечтают куда-нибудь поехать, 
       но только 36% планируют провести отпуск в родной стране. Мол, чего мы тут, дома, не видели? На самом деле, Россия — это целая вселенная с ласковым морем юга, густыми лесами Саян и суровыми льдами плато Путорана. А ещё увидеть все эти красоты можно без миллионов на счету, загранпаспорта и многочасовых перелетов. Как, например, Вера Башмакова — смелая молодая мама, которая взяла в охапку троих детей, усадила их в свою «Ладу» 
       и проехала 20 тысяч километров
       по родной стране. Мы выбрали 
       и описали некоторые интересные места, достойные вашего отпуска.
    ul.intro__list.intro-list
        li.intro-list__item Часовых поясов 
            span 11
        li.intro-list__item Объектов природного наследия ЮНЕСКО 
            span 12
        li.intro-list__item Объектов культурного наследия ЮНЕСКО 
            span 16
        li.intro-list__item Природных заповедников 
            span 105
        li.intro-list__item Аэропортов 
            span 241