section.photo-gallery
    - var n = 1;
    ul.photo-gallery__list
        while n < 13
            li.photo-gallery__item
                img(src="images/dist/photo-gallery/"+ n++ + ".jpg", width="288px", height="216px" alt="Картинка галереи") 
                